In [2]:
# Nome: Murilo Bernardes de Olivera
# Empresa: Capgemini Brasil
# Curso: Python for Data Science and AI

# Dados relacionados ao ano de 2019

In [57]:
import urllib.request
import pandas as pd
import sys

nameFile = "PIB.xlsx"
df = pd.read_excel(nameFile)
df

   Trimestre  Crescimento Trimestral do PIB %  Desemprego %
0          1                             1.28          12.2
1          2                             0.20          13.3
2          3                            -0.16          14.6
3          4                             0.22          11.0

In [58]:
# Dados do PIB 2019
pd.DataFrame(df['Crescimento Trimestral do PIB %']).head()

   Crescimento Trimestral do PIB %
0                             1.28
1                             0.20
2                            -0.16
3                             0.22

In [59]:
#Dados de Desemprego de 2019
pd.DataFrame(df['Desemprego %']).head()

   Desemprego %
0          12.2
1          13.3
2          14.6
3          11.0

In [60]:
#Exibindo os dados conforme o filtro de uma taxa de desmprego maior que 8.5%
df_filter = df['Desemprego %'] > 8.5
df[df_filter]

   Trimestre  Crescimento Trimestral do PIB %  Desemprego %
0          1                             1.28          12.2
1          2                             0.20          13.3
2          3                            -0.16          14.6
3          4                             0.22          11.0

In [95]:
def make_dashboard(DataFrame):
    if DataFrame is None:
        print("Nada sera exibido, o DataFrame e nulo")
    else:
        return DataFrame.head()
        

make_dashboard(df)

   Trimestre  Crescimento Trimestral do PIB %  Desemprego %
0          1                             1.28          12.2
1          2                             0.20          13.3
2          3                            -0.16          14.6
3          4                             0.22          11.0